pre {
	overflow-x: auto;
	padding: 1em 10px;
}

#plugin-desc {
	border: 1px solid var(--content-border-color);
	background-color: var(--content-bg-color);
	border-radius: 20px;
	padding: 40px;
}

#plugin-date {
	display: flex;
	justify-content: center;
}

#plugin-desc a {
	text-decoration: underline;
}

.logo-box {
	margin: 20px 0;
}