pre {
	overflow-x: auto;
	padding: 1em 10px;
}

.desc {
	border: 1px solid var(--content-border-color);
	background-color: var(--content-bg-color);
	border-radius: 20px;
	padding: 40px;
}

.desc h1, 
.desc h2, 
.desc h3, 
.desc h4, 
.desc h5, 
.desc h6 {
	text-align: left;
}

#plugin-date {
	display: flex;
	justify-content: center;
}

.logo-box {
	margin: 20px 0;
}