:root {
	--header-color: #e6e6e6;
	--highlight-color: #c2c1c1;
	--header-text-color: black;
	--main-color: white;
	--text-color: black;
	--content-bg-color: white;
	--content-border-color: #b6b6b6;
	--button-color: #dfdfdf;
}
@media (prefers-color-scheme: dark) {
	:root {
		--header-color: #1e1e24;
		--highlight-color: #555555;
		--header-text-color: #eeeeee;
		--main-color: #1a191f;
		--text-color: #f4f4f4;
		--content-bg-color: #312f3a;
		--content-border-color: #2e2e2e;
		--button-color: #f4f4f4;
	}
}


html {
	height: 100%;
	background-color: var(--main-color);
	color: var(--text-color);
}

body {
	min-height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	color: var(--text-color);
}

.header a {
	text-decoration: none;
}

.header {
	background-color: var(--header-color);
	border-bottom: 1px solid var(--highlight-color);
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	top: 0;
	position: sticky;
	width: 100%;
	height: 65px;
	display: flex;
	flex-direction: row;
	z-index: 1000;
}

/* logo */
.header .logo {
	font-size: 2em;
	text-decoration: none;
	padding: 5px;
	display: flex;
	flex-grow: 0;
}
.header .logo img {
	height: 80%;
	max-width: 50px;
	margin: auto;
}

/* menu buttons */
.header nav {
	flex-grow: 1;
}

nav .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

nav li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
}

nav li a:hover,
nav .menu-icon:hover {
	background-color: var(--highlight-color);
}

/* menu icon */
nav .menu-icon {
	cursor: pointer;
	float: right;
	padding: 0 20px;
	position: relative;
	user-select: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav .menu-icon .navicon {
	background: var(--header-text-color);
	display: block;
	height: 2px;
	position: relative;
	transition: all .2s ease-out;
	width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
	background: var(--header-text-color);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

nav .menu-icon .navicon:before {
	top: 5px;
}

nav .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

nav .menu-btn {
	display: none;
}

nav .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
	background-color: var(--header-color);
	float: right;
	text-align: right;
}

nav .menu-btn:checked ~ .menu {
	max-height: calc(59px * 5); /* Update this number to match the number of menu items */
}

nav .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:before,
nav .menu-btn:checked ~ .menu-icon .navicon:after {
	top: 0;
}

/* Non mobile header */
@media (min-width: 768px) {
	nav li {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav li a {
		padding: 10px 30px;
		border-radius: 15px;
	}
	nav .menu {
		height: 100%;
		clear: none;
		float: right;
		max-height: none;
		display: flex;
		align-items: center;
		gap: 10px;
		margin-right: 10px;
	}
	nav .menu-icon {
		display: none;
	}
}

/* Main Content */
.main-content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	position: relative;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
.main-content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.main-content > .logo-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}

.logo-box a {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: var(--button-color);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
	display: flex;
	justify-content: center;
	align-content: center;
	transition: transform .3s ease-out, box-shadow .3s ease-out;
}
.logo-box a:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 4px 0 var(--text-color);
}
.logo-box a img {
	width: 60%;
}

.iframe {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.iframe iframe {
	width: calc(40vh * (16 / 9));
	max-width: 100vw;
	height: 40vh;
	border: none;
}

.hidden
{
	display: none !important;
}


.screen {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}
.window {
	width: 800px;
	max-height: calc(100vh - 22px);
	box-sizing: border-box;
	margin: 20px;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid black;
	background-color: var(--main-color);
	overflow-y: auto;
}

.back-button {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 20px;
	background-color: var(--button-color);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
	display: flex;
	justify-content: center;
	align-content: center;
	transition: transform .3s ease-out, box-shadow .3s ease-out;
}
.back-button:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 4px 0 var(--text-color);
}
.back-button img {
	width: 60%;
}


/* tooltip */
.tooltip-parent:hover ~ .tooltip {
	display: block;
	text-align: left;
}

.tooltip {
	display: none;
	position: absolute;
	background: var(--highlight-color);
	color: black;
	margin-left: 20px;
	padding: 5px;
	z-index: 1000;
	text-align: left;
}

/* Expandable */
.expandable-parent {
	display: none;
}
.expandable-parent + label + .expandable {
	transition: opacity 80ms ease-out, max-height 100ms linear, padding 100ms ease-out;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}
.expandable-parent:not(:checked) + label + .expandable {
	padding: 0;
}
.expandable-parent:checked + label + .expandable {
	max-height: 1000px;
	opacity: 1;
}
@media (prefers-color-scheme: dark) {
	.expandable-parent + label img {
		filter: invert()
	}
}
.expandable-parent + label {
	display: flex;
	justify-content: center;
	align-items: center;
}
.expandable-parent + label img {
	height: 38px;
	margin: 0;
	transition: transform 100ms ease-out;
}
.expandable-parent + label:hover {
	cursor: pointer;
}
.expandable-parent:not(:checked) + label img {
	transform: rotate(-90deg);
}