html {
	height: 100%;
	background-color: #1a191f;
	color: #f4f4f4;
}

body {
	min-height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #EEE;
}

.header {
	background-color: #1e1e24;
	box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
	top: 0;
	position: sticky;
	width: 100%;
	height: 65px;
	display: flex;
	flex-direction: row;
}

/* logo */
.header .logo {
	font-size: 2em;
	text-decoration: none;
	padding: 5px;
	display: flex;
	flex-grow: 0;
}
.header .logo img {
	height: 80%;
	max-width: 50px;
	margin: auto;
}

/* menu buttons */
.header nav {
	flex-grow: 1;
}

nav .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

nav li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
}

nav li a:hover,
nav .menu-icon:hover {
	background-color: #6a6a6a;
}

/* menu icon */
nav .menu-icon {
	cursor: pointer;
	float: right;
	padding: 0 20px;
	position: relative;
	user-select: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav .menu-icon .navicon {
	background: #EEE;
	display: block;
	height: 2px;
	position: relative;
	transition: all .2s ease-out;
	width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
	background: #EEE;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

nav .menu-icon .navicon:before {
	top: 5px;
}

nav .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

nav .menu-btn {
	display: none;
}

nav .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
	background-color: #1e1e24;
	float: right;
	text-align: right;
}

nav .menu-btn:checked ~ .menu {
	max-height: calc(59px * 5); /* Update this number to match the number of menu items */
}

nav .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:before,
nav .menu-btn:checked ~ .menu-icon .navicon:after {
	top: 0;
}

/* Non mobile header */
@media (min-width: 768px) {
	nav li {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	nav li a {
		padding: 10px 30px;
		border-radius: 15px;
	}
	nav .menu {
		height: 100%;
		clear: none;
		float: right;
		max-height: none;
		display: flex;
		align-items: center;
		gap: 10px;
		margin-right: 10px;
	}
	nav .menu-icon {
		display: none;
	}
}

/* Main Content */
.main-content {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
.main-content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.main-content > .logo-box {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
}

.logo-box a {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-content: center;
	transition: transform .3s ease-out;
}

.logo-box a:hover
{
	transform: translateY(-5px);
}

.logo-box a img
{
	width: 60%;
}