<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" href="/css/global.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<meta name="google-site-verification" content="AMXqDCS8yXIHzbDLGB5YomnwAdoAbHN6HKQIWVMQh5U" />
	{% if page.style %}
		{% for stylesheet in page.style %}
			<link rel="stylesheet" href="{{ stylesheet }}">
		{% endfor %}
	{% endif %}

	{% if page.script %}
		{% for js_file in page.script %}
			<script src="{{ js_file }}"></script>
		{% endfor %}
	{% endif %}

	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:image" content="{{ site.url }}/img/android-chrome-512x512.png">
	<meta property="og:url" content="{{ page.url | absolute_url }}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:image" content="{{ site.url }}/img/android-chrome-512x512.png">

	{% if page.description %}
		<meta content="{{ page.description }}" property="og:description">
		<meta property="twitter:description" content="{{ page.description }}">
	{% endif %}

</head>
<body>
	<header class="header">
		<a class="logo" href="/">
			<img src="/img/android-chrome-192x192.png" alt="icon">
		</a>
		<nav>
			<input class="menu-btn" type="checkbox" id="menu-btn">
			<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/download">Download</a></li>
				<li><a href="/hub">Plugins</a></li>
				<li><a href="https://github.com/sepluginloader/PluginLoader/wiki">Wiki</a></li>
				<li><a href="https://github.com/sponsors/sepluginloader">Donate</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="main-content">
			{{ content }}
		</div>
	</main>
</body>
</html>
